{% extends "base.html" %}

{% block content %}
    <div class="carousel carousel-slider center">
        <div class="carousel-item soft-blue white-text">
            <img src="{{ MEDIA_URL }}img5.jpg" alt="Homepage carousel image" class="responsive-img" id="home-carousel-img1">
            <div class="content-container center-align">
                <h4>Join the World's Marketplace</h4>
                <p>Find great talent. Build your bussiness. Take your career to the next level.</p>
                <!-- Mobile -->
                <div class="row login-register-btns hide-on-med-and-up">
                    {% if request.user.is_authenticated %}
                        <div class="col s6 l2 offset-l4">
                            <a class="btn btn-large waves-effect">Find Creators</a>
                        </div>
                        <div class="col s6 l2">
                            <a class="btn btn-large waves-effect">Find Work</a>
                        </div>
                    {% else %}
                        <div class="col s6 l2 offset-l4">
                            <a href="{% url 'account_signup' %}" class="btn btn-large waves-effect">Sign Up</a>
                        </div>
                        <div class="col s6 l2">
                            <a href="{% url 'account_login' %}" class="btn btn-large waves-effect">Log In</a>
                        </div>
                    {% endif %}
                </div>
                <!-- Desktop -->
                <div class="row hide-on-small-only get-started-btn">
                    {% if request.user.is_authenticated %}
                        <div class="col s6 l2 offset-l4">
                            <a class="btn btn-large waves-effect">Find Creators</a>
                        </div>
                        <div class="col s6 l2">
                            <a class="btn btn-large waves-effect">Find Work</a>
                        </div>
                    {% else %}
                        <div class="col s12">
                            <a href="{% url 'account_login' %}" class="btn btn-large waves-effect">Get Started</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="carousel-item soft-blue white-text">
            <img src="{{ MEDIA_URL }}img16.jpg" alt="Homepage carousel image" class="responsive-img" id="home-carousel-img2">
            <div class="content-container center-align">
                <h4>Kickstart your career</h4>
                <p>LEGION isn’t just a freelance or recruitment service, it’s a growing network full of professional and talented individuals who want to....</p>
                <div class="row login-register-btns">
                    <div class="col s6 l2 offset-l4">
                        <a class="btn btn-large waves-effect">Find Creators</a>
                    </div>
                    <div class="col s6 l2">
                        <a class="btn btn-large waves-effect">Find Work</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item soft-blue white-text">
            <img src="{{ MEDIA_URL }}img15.jpg" alt="Homepage carousel image" class="responsive-img" id="home-carousel-img3">
            <div class="content-container center-align">
                <h4>Recruit, buy, advertise, sell</h4>
                <p>LEGION isn’t just a freelance or recruitment service, it’s a growing network full of professional and talented individuals who want to...</p>
                <div class="row login-register-btns">
                    <div class="col s6 l2 offset-l4">
                        <a class="btn btn-large waves-effect">Find Creators</a>
                    </div>
                    <div class="col s6 l2">
                        <a class="btn btn-large waves-effect">Find Work</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item soft-blue white-text">
            <img src="{{ MEDIA_URL }}img3.jpg" alt="Homepage carousel image" class="responsive-img" id="home-carousel-img4">
            <div class="content-container center-align">
                <h4>Take control of your career</h4>
                <p>LEGION isn’t just a freelance or recruitment service, it’s a growing network full of professional and talented individuals who want to....</p>
                <div class="row login-register-btns">
                    <div class="col s6 l2 offset-l4">
                        <a class="btn btn-large waves-effect">Find Creators</a>
                    </div>
                    <div class="col s6 l2">
                        <a class="btn btn-large waves-effect">Find Work</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}