{% extends "base.html" %}
{% load materializecss %}

{% block content %}
    <div class="account-container start-profile" id="ClientStart">
        <div class="container content"> 
            <div class="row">
                <div class="col s12">
                    <h4 class="center title">Get Started as a Client</h4>
                    <p>As a client you can hire talents and buy any of their services and/or merchandise.</p>
                    <p>
                        If you are a Recruiter, and you’re specifically interested in posting jobs and hiring, then please check this box
                        and enter your company name.
                    </p>
                </div>
            </div>
            <form action="{% url 'start_client' %}" method="POST" id="RecruiterForm">
                {% csrf_token %}
                {{ form | materializecss }}
                <div class="row center-align">
                    <div class="col s12 m6">
                        <a href="#!" class="btn btn-large btn-green">Continue</a>
                    </div>
                    <div class="col s12 m6">
                        <a href="{% url 'start' %}" class="btn btn-large btn-cancel">Go Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        var checkbox = $('#id_is_recruiter');
        // Add materalize switch classes to checkbox
        checkbox.parent().parent().addClass('switch');
        checkbox.next().addClass('lever');
        checkbox.after("I'm a Recruiter");

        // Add required field to recruiter if checbox is checked
        checkbox.on('change', function() {
            if (checkbox.is(':checked')) {
                $('#id_company_name').prop('required', true);
                console.log('checked')
            } else {
                $('#id_company_name').prop('required', false);
                console.log('not checked')
            }
        });
    </script>
{% endblock %}