{% extends "base.html" %}
{% load static %}
{% load materializecss %}

{% block content %}
    <!-- Close button for category fullscreen overlay -->
    <a href="#!" class="hide close-category"><i class="far fa-times-circle"></i></a>
    
    <!-- Form container -->
    <div class="account-container start-profile" id="CreatorStart">
        <div class="container content">
            <form action="" method="POST" id="CreatorForm">
                {% csrf_token %}
                <!-- Work and services - dummy field -->
                <div class="tab" id="CreatorWork">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Tell us about the work you do</h4>
                            <p>What’s the main service you offer?</p>
                            <p>
                                If you have more to offer us that’s great! You can add them later once your profile as been assessed by our lovely
                                team.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Work and services -->
                <div class="tab" id="CreatorWork">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Select a Category</h4>
                        </div>
                    </div>
                    {{ category_form | materializecss }}
                </div>
                <!-- Skills -->
                <div class="tab" id="Skills">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Add your Skills</h4>
                            <p class="center">Add your skills tags by entering text and pressing enter</p>
                        </div>
                    </div>
                    <div class="chips-container"></div>
                    <div class="input-field col s12">
                        <input type="text" class="chips-input" id="skillsChips" placeholder="Type a skill and press enter">
                    </div>
                    <!-- Django hidden input field -->
                    {% for field in work_form  %}
                        {% if field.name == 'skills' %}
                            {{ field | materializecss }}
                        {% endif %}
                    {% endfor %}
                    <!-- Skip section -->
                    <div class="row">
                        <div class="col s12">
                            <p class="text-center"><span class="text-link-green skip-section">Skip this step</span></p>
                        </div>
                    </div>
                </div>
                <!-- Expertise level -->
                <div class="tab" id="ExpertiseLevel">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Expertise Level</h4>
                            <p>What’s your level of experience in this field? Pick one</p>
                        </div>
                    </div>
                    {% for field in work_form  %}
                        {% if field.name == 'expertise_level' %}
                            {{ field | materializecss }}
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Education -->
                <div class="tab" id="Education">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Education</h4>
                            <p>Add the schools you attended, areas of study, any degrees or diplomas you have earned</p>
                            <a href="#!" class="btn btn-large btn-purple next-btn" id="educationBtn">Add Education</a>
                        </div>
                    </div>
                    <!-- Skip section -->
                    <div class="row">
                        <div class="col s12">
                            <p class="text-center"><span class="text-link-green skip-section-2" id="skipEducation">Skip this step</span></p>
                        </div>
                    </div>
                </div>
                <!-- Add Education -->
                <div class="tab" id="AddEducation">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Add Education</h4>
                        </div>
                    </div>
                    {% for field in education_form %}
                        {{ field | materializecss }}
                        {% if field.name == 'qualification' %}
                            <!-- To go above start date -->
                            <span>Date Attended</span>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Work Experience -->
                <div class="tab" id="WorkExperience">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Work Experience</h4>
                            <p>Add your past work experience by showcasing the projects or jobs you have completed</p>
                            <a href="#!" class="btn btn-large btn-purple next-btn" id="workBtn">Add Work Experience</a>
                        </div>
                    </div>
                    <!-- Skip section -->
                    <div class="row">
                        <div class="col s12">
                            <p class="text-center"><span class="text-link-green skip-section-2" id="skipWorkExperience">Skip this step</span></p>
                        </div>
                    </div>
                </div>
                <!-- Add Work Experience -->
                <div class="tab" id="AddWorkExperience">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Add Work Experience</h4>
                        </div>
                    </div>
                    {% for field in work_experience_form %}
                        {% if field.name != 'start_date' %}
                            {{ field | materializecss }}
                        {% endif %}
                        {% if field.name == 'start_date' %}
                            <span>Period</span>
                            {{ field | materializecss }}
                        {% endif %}
                    {% endfor %}
                    <!-- Skip section -->
                    <div class="row">
                        <div class="col s12">
                            <p class="text-center"><span class="text-link-green skip-section">Skip this step</span></p>
                        </div>
                    </div>
                </div>
                <!-- Languages -->
                <div class="tab" id="Languages">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Languages</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p>If you speak any other lanuages, you can add them here</p>
                            <a href="#!" class="btn btn-large btn-purple next-btn" id="languagesBtn">Add Languages</a>
                        </div>
                    </div>
                    {{ languages_form | materializecss }}
                </div>
                <!-- Title and Overview -->
                <div class="tab" id="CreatorTitleOverview">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Profile Personalisation</h4>
                            <p>Begin adding the personal touches to your Profile to make you stand out!</p>
                            <p>Let’s begin by adding your job title and professional overview.</p>
                        </div>
                    </div>
                    {% for field in profile_form %}
                        {% if field.name == 'title' %}
                            {{ field | materializecss }}
                        {% endif %}
                        {% if field.name == 'overview' %}
                            {{ field | materializecss }}
                        {% endif %}
                    {% endfor %}
                    <!-- Skip section -->
                    <div class="row">
                        <div class="col s12">
                            <p class="text-center"><span class="text-link-green skip-section">Skip this step</span></p>
                        </div>
                    </div>
                </div>
                <!-- Profile image -->
                <div class="tab" id="CreatorProfilePhoto">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Profile Photo</h4>
                            <p>
                                Upload a professional portrait of yourself that clearly shows your face. But don’t be afraid to be a little creative
                                if it links with your expertise!
                            </p>
                        </div>
                    </div>
                    {% for field in profile_form %}
                        {% if field.name == 'image' %}
                            {{ field | materializecss }}
                        {% endif %}
                    {% endfor %}
                    <!-- Skip section -->
                    <div class="row">
                        <div class="col s12">
                            <p class="text-center"><span class="text-link-green skip-section">Skip this step</span></p>
                        </div>
                    </div>
                </div>
                <!-- Location -->
                <div class="tab" id="CreatorLocation">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="center title">Location</h4>
                            <p>
                                Nearly there! The final step is to verify your identity in order to ensure Legion maintains its reputation as a
                                trusted marketplace.
                            </p>
                            <p>
                                Your street address and phone number will only be used to verify your identity. Only your city will be shown to
                                clients. All other personal details will not be shared.
                            </p>
                        </div>
                    </div>
                    {{ creator_form | materializecss }}
                </div>
                <!-- Submit form, next and back buttons -->
                <div class="row center-align">
                    <div class="col s12 m6 l3 offset-l3">
                        <a href="#!" class="btn btn-large btn-green next-btn">Continue</a>
                    </div>
                    <div class="col s12 m6 l3 offset-l3 hide">
                        <button type="submit" class="btn btn-large btn-green submit-btn" id="submitBtn-creator">Submit</button>
                    </div>
                    <div class="col s12 m6 l3">
                        <a href="#!" class="btn btn-large btn-cancel prev-btn btn-white">Go Back</a>
                    </div>
                    <div class="col s12 m6 l3 hide">
                        <a href="{% url 'start' %}" class="btn btn-large btn-cancel btn-white" id="cancelBtn">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/form-steps.js' %}"></script>
{% endblock %}