{% extends "base.html" %}

{% block content %}
    <div class="container" id="GetStarted"> 
        <div class="row">
            <div class="col s12">
                <h4 class="center headline large">Get Started as a Creator</h4>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h6>Hi {{ user.get_full_name }}!</h6>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p>Thank you for your interest in <span>Legion</span>!</p>
                
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p>
                    Here at <span>Legion</span>, we are committed to creating the world’s largest social network platform for talented
                    professionals like yourself! We connect thousands of bussinesses with independent professionals and give those
                    professionals the platform to sell their talent and advertise their skills in their very own online portfolio.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col 12">
                <p>To get started, all you need to do is complete your profile!</p>
            </div>
        </div>
        <div class="row center-align mt-4">
            <div class="col s12 m6 push-m6">
                <a href="{% url 'start_creator' %}" class="btn btn-large btn-purple-gradient mt-2">Continue</a>
            </div>
            <div class="col s12 m6 pull-m6">
                <a href="{% url 'start_client' %}" class="btn btn-large btn-black mt-2">I'm not a freelancer</a>
            </div>
        </div>
    </div>
{% endblock %}