{% extends "base.html" %}
{% load static %}
{% load materializecss %}

{% block content %}
    <div class="container" id="Profile">
        <div class="header">
            <!-- Header image -->
            <div class="header-image">
                <div class="contrast-card"></div>
                <div class="img-card"></div>
            </div>
            <!-- Profile image, name and title -->
            <div class="row image-name-and-title">
                <div class="col s4 m3 l2">
                    <img src="{% if profile.image %}{{ profile.image.url }}{% else %}{{ MEDIA_URL }}noimage.jpg{% endif %}"
                        alt="User profile image" class="responsive-img profile-page-img">
                </div>
                <div class="col s8 m4 l3">
                    <p class="user-fullname">{{ user.get_full_name }}</p>
                    <p class="user-title">{{ profile.title }}</p>
                </div>
            </div>
            <!-- Buttons -->
            <div class="row follow-and-message">
                <div class="col s4 m3 l2">
                    <a href="#!" class="btn btn-small profile-social-btn follow">
                        <i class="material-icons">add_circle_outline</i>
                        <span>Follow</span>
                    </a>
                </div>
                <div class="col s4 m3 l2">
                    <a href="#!" class="btn btn-small profile-social-btn message">
                        <i class="material-icons">email</i>
                        <span>Message</span>
                    </a>
                </div>
            </div>
        </div>

        <!-- Profile navigation tabs -->

        {% if profile.is_creator %}
            <div class="row center-align profile-navigation">
                <div class="col s12">
                    <span class="scroll-me right hide-on-med-and-up"><i class="material-icons">chevron_right</i></span>
                    <ul class="tabs">
                        <li class="tab col s4 m3"><a href="#projects">Projects</a></li>
                        <li class="tab col s4 m3 service-tab"><a href="#services">Services & Goods</a></li>
                        <li class="tab col s4 m3"><a href="#bio">Bio</a></li>
                        <li class="tab col s4 m3"><a href="#reviews">Reviews</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if profile.is_recruiter %}
            <div class="row">
                <div class="divider"></div>
            </div>
            <div class="row center-align">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s4"><a href="#jobs">My Jobs</a></li>
                        <li class="tab col s4"><a href="#bio2">Bio</a></li>
                        <li class="tab col s4"><a href="#reviews2">Reviews</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}

        <!-- Profile content -->

        {% if profile.is_creator %}
            <!-- Divider -->
            <div class="row">
                <div class="divider"></div>
            </div>

            <!-- Projects -->
            <div class="tab-content" id="projects">
                <!-- Button -->
                <div class="row center">
                    <div class="col s12">
                        <a href="#!" class="btn clear-btn-cyan">Add new project</a>
                    </div>
                </div>
            </div>

            <!-- Services -->
            <div class="tab-content" id="services">
                <!-- Button -->
                <div class="row center">
                    <div class="col s12">
                        <a href="#!" class="btn clear-btn-cyan">Add new service</a>
                    </div>
                </div>
            </div>

            <!-- Bio -->
            <div class="tab-content" id="bio">
                <!-- Button -->
                <div class="row center">
                    <div class="col s12">
                        <a href="#!" class="btn clear-btn-cyan">Edit bio</a>
                    </div>
                </div>
                <!-- About Me -->
                <div class="row">
                    <div class="col s12">
                        <h6>About Me</h6>
                    </div>
                    <!-- Professional Overview -->
                    {% if profile.overview %}
                        <div class="col s12">
                            <p>{{ profile.overview }}</p>
                        </div>
                    {% else %}
                        <div class="missing-feature">
                            <!-- Missing overview -->
                            <div class="row">
                                <div class="col s12">
                                    <p>
                                        <i class="fas fa-exclamation-triangle"></i>
                                        Your missing a professional overview!
                                    </p>
                                </div>
                            </div>
                            <!-- Add professional overview -->
                            <div class="row">
                                <div class="col s12 center-align">
                                    <a href="#!">Add Bio</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- Languages -->
                <div class="row center">
                    <div class="col s12">
                        <div class="bio-card" id="languagesCard">
                            <h5>Languages</h5>
                            <!-- Content -->
                            <div class="card-panel">
                                <p>
                                    English
                                    <span>
                                        {% with languages.english_proficiency as l %}
                                        {% if l == 1 %}
                                            Basic
                                        {% elif l == 2 %}
                                            Conversational
                                        {% elif l == 3 %}
                                            Fluent
                                        {% elif l == 4 %}
                                            Native / Bilingual
                                        {% endif %}
                                        {% endwith %}
                                    </span>
                                </p>
                                <!-- Other languages -->
                                {% if languages.language %}
                                    <p>
                                        {{ languages.language }}
                                        <span>
                                            {% with languages.language_proficiency as l %}
                                            {% if l == 1 %}
                                                Basic
                                            {% elif l == 2 %}
                                                Conversational
                                            {% elif l == 3 %}
                                                Fluent
                                            {% elif l == 4 %}
                                                Native / Bilingual
                                            {% endif %}
                                            {% endwith %}
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                            <!-- Add languages -->
                            <a href="#!" class="btn add-to-bio">
                                <i class="material-icons">add_circle_outline</i>
                                <span>Add language</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Skills -->
                <div class="row center">
                    <div class="col s12">
                        <div class="bio-card" id="skillsCard">
                            <h5>Skills</h5>
                            <!-- Content -->
                            {% if work.skills %}
                            <div class="card-panel">
                                <p>{{ work.skills }}</p>
                            </div>
                            {% endif %}
                            <!-- Add languages -->
                            <a href="#!" class="btn add-to-bio">
                                <i class="material-icons">add_circle_outline</i>
                                <span>Add Skills</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Education -->
                <div class="row center">
                    <div class="col s12">
                        <div class="bio-card" id="educationCard">
                            <h5>Education</h5>
                            <!-- Content -->
                            <div class="card-panel">
                            </div>
                            <!-- Add languages -->
                            <a href="#!" class="btn add-to-bio">
                                <i class="material-icons">add_circle_outline</i>
                                <span>Add Education</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Work experience -->
                <div class="row center">
                    <div class="col s12">
                        <div class="bio-card" id="workexperienceCard">
                            <h5>Work Experience</h5>
                            <!-- Content -->
                            <div class="card-panel">
                            </div>
                            <!-- Add languages -->
                            <a href="#!" class="btn add-to-bio">
                                <i class="material-icons">add_circle_outline</i>
                                <span>Add Work Experience</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Reviews -->
            <div class="tab-content" id="reviews">
                <div class="row">
                    <div class="col s12">
                        <h6>Reviews</h6>
                    </div>
                    <div class="col s12">
                        <p>No reviews yet</p>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if profile.is_recruiter %}
            <!-- Divider -->
            <div class="row">
                <div class="divider"></div>
            </div>

            <!-- Jobs -->
            <div class="tab-content" id="jobs">
                <!-- Button -->
                <div class="row center">
                    <div class="col s12">
                        <a href="#!" class="btn clear-btn-cyan">Add job</a>
                    </div>
                </div>
                <!-- Jobs -->
                <div class="row">
                    <div class="col s12">
                        <h6>About Me</h6>
                    </div>
                    <div class="col s12">
                        <p>You haven't posted any jobs yet</p>
                    </div>
                </div>
            </div>

            <!-- Bio -->
            <div class="tab-content" id="bio2">
                <!-- Button -->
                <div class="row center">
                    <div class="col s12">
                        <a href="#!" class="btn clear-btn-cyan">Edit bio</a>
                    </div>
                </div>
                <!-- About Me -->
                <div class="row">
                    <div class="col s12">
                        <h6>About Me</h6>
                    </div>
                    <!-- Professional Overview -->
                    {% if profile.overview %}
                        <div class="col s12">
                            <p>{{ profile.overview }}</p>
                        </div>
                    {% else %}
                        <div class="missing-feature">
                            <!-- Missing overview -->
                            <div class="row">
                                <div class="col s12">
                                    <p>
                                        <i class="fas fa-exclamation-triangle"></i>
                                        Your missing a professional overview!
                                    </p>
                                </div>
                            </div>
                            <!-- Add professional overview -->
                            <div class="row">
                                <div class="col s12 center-align">
                                    <a href="#!">Add Bio</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Reviews -->
            <div class="tab-content" id="reviews2">
                <div class="row">
                    <div class="col s12">
                        <h6>Reviews</h6>
                    </div>
                    <div class="col s12">
                        <p>No reviews yet</p>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}