{% extends "base-alternative.html" %}
{% load static %}
{% load materializecss %}

{% block breadcrumbs %}
    {% if service.shipping_required %}
    <a href="#!" class="breadcrumb"><div class="numberCircle">1</div> Order Review</a>
    <a href="#!" class="breadcrumb"><div class="numberCircle">2</div> Shipping</a>
    <a href="#!" class="breadcrumb active"><div class="numberCircle">3</div> Confirm & Pay</a>
    {% else %}
    <a href="#!" class="breadcrumb"><div class="numberCircle">1</div> Order Review</a>
    <a href="#!" class="breadcrumb active"><div class="numberCircle">2</div>Confirm & Pay</a>
    {% endif %}
{% endblock %}

{% block extra_css %}
    <!-- Stripe CSS -->
    <link rel="stylesheet" href="{% static 'checkout/css/stripe.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="checkout" id="checkout-payment">
    <div class="row">
        <div class="col s12 l5 offset-l1 offset-xl2">
            <form action="{% url 'checkout_payment' service.id %}" class="payment-form">
                {% csrf_token %}
                <!-- Information -->
                <h5 class="headline center">Information</h5>
                <div class="row center">
                    <div class="col s12">
                        <table class="contact hide-on-small-only">
                            <tr>
                                <td class="headline">contact</td>
                                <td>
                                    <p>
                                        {{ request.user.get_full_name }},
                                        {{ profile.user }},
                                        {{ request.user.phone_number }}
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <table class="contact small hide-on-med-and-up">
                            <tr>
                                <td class="headline">contact</td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        {{ request.user.get_full_name }},
                                        {{ profile.user }},
                                        {{ request.user.phone_number }}
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p class="email-confirmation-checkbox">
                    <label>
                        <input type="checkbox" name="email-confirmation" checked/>
                        <span>Email order confirmation to <strong>{{ profile.user }}</strong></span>
                    </label>
                </p>
                <div class="divider"></div>
                <h5 class="headline center">Payment</h5>
                <!-- Card payment -->
                <div class="row">
                    <div class="col s12">
                        <fieldset>
                            <legend class="fieldset-label center">Credit Card</legend>
                            <!-- A Stripe card element will go here -->
                            <div class="mb-3" id="card-element"></div>
                            <!-- Used to display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret}}" name="client_secret">
                        </fieldset>
                    </div>
                </div>
                <!-- Billing address -->
                <div class="row billing">
                    <div class="col s12">
                        <fieldset>
                            <legend class="fieldset-label center">Billing Address</legend>
                            {{ form | materializecss }}
                            <p class="save-billing">
                                <label>
                                    <input type="checkbox" name="save-billing"/>
                                    <span>Save address details</span>
                                </label>
                            </p>
                        </fieldset>
                    </div>
                </div>
                <!-- Submit payment -->
                <div class="row">
                    <div class="col s12 center">
                        <button type="submit" class="btn btn-large btn-black" id="submit-payment">Place Order</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col l5 xl4 order-summary-card right hide-on-med-and-down">
            <div class="card-panel white-text">
                <!-- Title -->
                <div class="row">
                    <div class="col s12 center">
                        <h6 class="headline">Order Summary</h6>
                    </div>
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>
                <!-- Order image, quantity and base price -->
                <div class="row">
                    <div class="col s4">
                        <img src="{% if service.images %}{{ service.images.url }}{% else %}{{ MEDIA_URL }}noimage.jpg{% endif %}"
                        alt="Service order image" class="order-card-img">
                    </div>
                    <!-- Service price -->
                    <div class="col s8">
                        <h6>
                            <span>
                                x{{ current_order.quantity }}
                            </span>
                            £{{ current_order.total|floatformat:"2" }}
                        </h6>
                    </div>
                    <!-- Headline -->
                    <div class="col s12">
                        <!-- Service headline -->
                        <h6>{{ service.headline }}</h6>
                    </div>
                    <!-- Package type and title -->
                    <div class="col s12">
                        <p>{{ current_order.package.package_type|title }} Package</p>
                        <p>{{ current_order.package.package_title }}</p>
                        {% if current_order.package.client_requirements %}
                            <div class="divider" style="width: 50%; margin-left: 0;"></div>
                            <p class="requirements">{{ current_order.package.client_requirements }}</p>
                        {% endif %}
                    </div>
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>
                <!-- Additional costs -->
                <div class="row">
                    <div class="col s12">
                        <table class="extra-costs">
                            <tr>
                                <td class="extra-name">{{ current_order.delivery_time }} day delivery</td>
                                <td class="extra-price">£{{ current_order.delivery|floatformat:"2" }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col s12">
                        <table class="subtotal">
                            <tr>
                                <td class="total-name">Subtotal</td>
                                <td class="total-price">£{{ subtotal|floatformat:"2" }}</td>
                            </tr>
                            <tr>
                                <td class="total-name">Service fee</td>
                                <td class="total-price">£{{ service_fee|floatformat:"2" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>
                <!-- Grand total -->
                <div class="row">
                    <div class="col s12">
                        <table class="grandtotal-table">
                            <tr>
                                <td class="headline">Total</td>
                                <td class="grand-total">£{{ grand_total|floatformat:"2" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hide-on-large-only" id="fixedOrderSummary">
        <div class="card-panel white-text">
            <div class="row">
                <div class="col s3">
                    <img src="{% if service.images %}{{ service.images.url }}{% else %}{{ MEDIA_URL }}noimage.jpg{% endif %}"
                        alt="Service order image" class="sticky-card-img">
                </div>
                <div class="col s5">
                    <div class="row">
                        <div class="col s12">
                            <p>{{ package.package_type | title }} Package</p>
                        </div>
                        <div class="col s12">
                            <a href="#!">Show details</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="row">
                        <div class="col 12">
                            <h6>£{{ grand_total }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe-elements.js' %}"></script>
{% endblock %}
