{% extends "base-alternative.html" %}
{% load static %}

{% block breadcrumbs %}
    <a href="#!" class="breadcrumb active"><div class="numberCircle">1</div> Order Review</a>
    <a href="#!" class="breadcrumb upcoming"><div class="numberCircle">2</div> Shipping</a>
    <a href="#!" class="breadcrumb upcoming"><div class="numberCircle">3</div> Billing</a>
    <a href="#!" class="breadcrumb upcoming"><div class="numberCircle">4</div> Payment</a>
{% endblock %}

{% block content %}
<div id="checkout-orderSummary">
    <form action="{% url 'checkout' service.id %}" id="orderReviewForm"></form>
    <div class="row">
        <div class="col s12 l5 offset-l1">
            <!-- Service details container -->
            <div class="row order-service-details-container">
                <!-- Order image -->
                <div class="col s4 l3">
                    <img src="{% if service.images %}{{ service.images.url }}{% else %}{{ MEDIA_URL }}noimage.jpg{% endif %}"
                    alt="Service order image" class="order-img">
                </div>
                <!-- Order details -->
                <div class="col s7 l8 order-service-details">
                    <div class="row">
                        <!-- Service price -->
                        <div class="col s12 hide-on-large-only">
                            <h5>£{{ package.price }}</h5>
                        </div>
                        <!-- Service headline -->
                        <div class="col s12">
                            <h6>{{ service.headline }}</h6>
                        </div>
                        <!-- Package details -->
                        <div class="col s12 hide-on-med-and-down">
                            <p>{{ package.package_title }} <strong>({{ package.package_type | title }} Package)</strong></p>
                        </div>
                        <!-- Client requirements -->
                        <div class="col s12 hide-on-med-and-down">
                            {% if service.include_client_requirements %}
                                <a href="#clientRequirements" class="modal-trigger">Read client requirements</a>
                            {% else %}
                                <p class="orange-text text-darken-3">
                                    No client requirements have been listed for this service, but we highly recommend that you contact the seller after making
                                    payment.
                                </p>
                            {% endif %}
                        </div>
                        <!-- Client requirements modal -->
                        <div id="clientRequirements" class="modal">
                            <div class="modal-content black-text">
                                <h4>Client Requirements</h4>
                                <p>
                                    In order for {{ service.user.get_full_name }} to make a start on your order, you first need to fulfill your client
                                    requirements. You will prompted to contact your seller after making payment. Please do this ASAP, as delaying this will only delay
                                    the delivery of your service. 
                                </p>
                                <p class="orange-text text-darken-3">
                                    <strong>
                                        Sellers are held not responsible for late delivery times, or cancellations, if client the requirements are not
                                        met.
                                    </strong>
                                </p>
                                <br>
                                <h5>Requirements laid out by {{ service.user.get_full_name }}...</h5>
                                <p>{{ package.client_requirements }}</p>
                                </div>
                                <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Okay, got it</a>
                            </div>
                        </div>
                        <!-- Quantity -->
                        <form action="" method="POST" class="update-form small">
                            {% csrf_token %}
                            <div class="col s12 quantity hide-on-large-only">
                                <span>Quanity</span>
                                <div class="row">
                                    <div class="input-field">
                                        <div class="col s2">
                                            <button data-item_id="{{ service.id }}" id="decrement-qty_{{ service.id }}"
                                            class="decrement-qty btn">
                                                <span><i class="fas fa-minus fa-sm"></i></span>
                                            </button>
                                        </div>
                                        <div class="col s3">
                                            <input type="number" name="quantity" value="{{ quantity }}" min="1" max="99"
                                            data-item-id="{{ service.id }}" id="id_qty_{{ service.id }}"
                                            class="qty-input" readonly>
                                        </div>
                                        <div class="col s2">
                                            <button data-item_id="{{ service.id }}" id="increment-qty_{{ service.id }}"
                                            class="increment-qty btn">
                                                <span><i class="fas fa-plus fa-sm"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- See details -->
                        <p><a href="#!">See <span>service</span> details <i class="material-icons">expand_more</i></a></p>
                    </div>
                </div>
                <div class="col s12">
                    <div class="divider hide-on-med-and-down"></div>
                </div>
            </div>
            <!-- Package extras -->
            <div class="row center">
                <h4 class="headline">Extras</h4>
                <table class="extras">
                    <tr class="checked">
                        {% if package.fast_delivery_time %}
                            <td class="extra-name">
                                <p>
                                    <label>
                                        {% if delivery == 0 %}
                                            <input type="checkbox" />
                                        {% else %}
                                            <input type="checkbox" checked/>
                                        {% endif %}
                                        <span>Fast {{ package.delivery_time }} day delivery</span>
                                    </label>
                                </p>
                            </td>
                            <td class="extra-price">£{{ package.fast_delivery_price }}</td>
                        {% else %}
                            <p class="orange-text text-darken-3">
                                There are no available extras for this package.
                            </p>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
        <div class="col l5 order-summary-card right hide-on-med-and-down">
            <div class="card-panel white-text">
                <!-- Title -->
                <div class="row">
                    <div class="col s12 center">
                        <h6 class="headline">Order Summary</h6>
                    </div>
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>
                <!-- Order image, quantity and base price -->
                <div class="row">
                    <div class="col s3">
                        <img src="{% if service.images %}{{ service.images.url }}{% else %}{{ MEDIA_URL }}noimage.jpg{% endif %}"
                        alt="Service order image" class="order-card-img">
                    </div>
                    <div class="col s8 order-service-details">
                        <!-- Service headline -->
                        <h6>{{ service.headline }}</h6>
                        <!-- Quantity -->
                        <form action="" method="POST" class="update-form large">
                            {% csrf_token %}
                            <div class="row quantity">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="col s6">
                                            <span>Quantity</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field">
                                            <div class="col s3">
                                                <button data-item_id="{{ service.id }}" id="decrement-qty_{{ service.id }}"
                                                class="decrement-qty btn">
                                                    <span><i class="fas fa-minus fa-sm"></i></span>
                                                </button>
                                            </div>
                                            <div class="col s4">
                                                <input type="number" name="quantity" value="{{ quantity }}" min="1" max="99"
                                                data-item-id="{{ service.id }}" id="id_qty_{{ service.id }}"
                                                class="qty-input" readonly>
                                            </div>
                                            <div class="col s3">
                                                <button data-item_id="{{ service.id }}" id="increment-qty_{{ service.id }}"
                                                class="increment-qty btn">
                                                    <span><i class="fas fa-plus fa-sm"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- Service price -->
                        <div class="service-price">
                            <h6>£{{ quantity_total }}</h6>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>
                <!-- Additional costs -->
                <div class="row">
                    <div class="col s12">
                        <table class="extra-costs">
                            {% if delivery == 0 %}
                                <tr>
                                    <td class="extra-name">{{ package.delivery_time }} day delivery</td>
                                    <td class="extra-qty"></td>
                                    <td class="extra-price">FREE</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td class="extra-name">Fast {{ package.fast_delivery_time }} day delivery</td>
                                    <td class="extra-qty"></td>
                                    <td class="extra-price">£{{ package.fast_delivery_price }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>
                <!-- Subtotal -->
                <div class="row">
                    <div class="col s12">
                        <table class="subtotal">
                            <tr>
                                <td class="total-name">Subtotal</td>
                                <td class="total-price">£{{ subtotal }}</td>
                            </tr>
                            <tr>
                                <td class="total-name">Service fee</td>
                                <td class="total-price">£{{ service_fee }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>
                <!-- Grand total -->
                <div class="row">
                    <div class="col s12">
                        <table class="grandtotal-table">
                            <tr>
                                <td class="headline">Total</td>
                                <td class="grand-total">£{{ grand_total }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- Checkout -->
                <div class="row center">
                    <div class="col s12">
                        <a href="#!" class="btn btn-large btn-green-gradient"><span class="helper"></span><span class="show">Continue</span> <span class="hide">Go</span> to checkout</a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="order-summary-checkout hide-on-large-only" id="orderTotal">
        <div class="card-panel white-text">
            <p class="headline">Order summary</p>
            <!-- Price summary -->
            <div class="row">
                <table class="order-total">
                    <tr class="service-total">
                        <td class="title">Service price</td>
                        <td class="quantity">x{{ quantity }}</td>
                        <td class="price">£{{ quantity_total }}</td>
                    </tr>
                    <tr class="extras-total">
                        <td class="title">Delivery</td>
                        <td></td>
                        <td class="price">£{{ package.fast_delivery_price }}</td>
                    </tr>
                    <tr class="subtotal">
                        <td class="title">Subtotal</td>
                        <td></td>
                        <td class="price">£{{ subtotal }}</td>
                    </tr>
                    <tr class="service-fee">
                        <td class="title">Service fee</td>
                        <td></td>
                        <td class="price">£{{ service_fee }}</td>
                    </tr>
                    <tr class="grand-total">
                        <td class="headline">Total</td>
                        <td></td>
                        <td class="price">£{{ grand_total }}</td>
                    </tr>
                    <tr class="delivery">
                        <td class="title">Delivery Time</td>
                        <td></td>
                        <td class="time">
                            {{ package.delivery_time }}
                            {% if package.delivery == 1 %}day{% else %}days{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <!-- Checkout -->
            <div class="row center">
                <div class="col s12">
                    <a href="#!" class="btn btn-large btn-green-gradient"><span class="helper"></span><span class="show">Continue</span> <span class="hide">Go</span> to checkout</a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="center helper">You won't be charged yet</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'checkout/includes/quantity-input.html' %}
{% endblock %}