/* ==========================================================================
CUSTOM FONTS
========================================================================== */

/* ======================================================
Product Sans
====================================================== */

@font-face {
    font-family: 'Product Sans';
    src: local('ProductSans-Regular'), url('/static/fonts/ProductSans-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Product Sans - Bold';
    src: local('ProductSans-Bold'), url('/static/fonts/ProductSans-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Product Sans - Italic';
    src: local('ProductSans-Italic'), url('/static/fonts/ProductSans-Italic.ttf') format("truetype");
}

@font-face {
    font-family: 'Product Sans - BoldItalic';
    src: local('ProductSans-BoldItalic'), url('/static/fonts/ProductSans-BoldItalic.ttf') format("truetype");
}

@font-face {
    font-family: 'Product Sans - Light';
    src: local('ProductSans-Light'), url('/static/fonts/ProductSans-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'Product Sans - LightItalic';
    src: local('ProductSans-LightItalic'), url('/static/fonts/ProductSans-LightItalic.ttf') format("truetype");
}

@font-face {
    font-family: 'Product Sans - Medium';
    src: local('ProductSans-Medium'), url('/static/fonts/ProductSans-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Product Sans - MediumItalic';
    src: local('ProductSans-MediumItalic'), url('/static/fonts/ProductSans-MediumItalic.ttf') format("truetype");
}

@font-face {
    font-family: 'Product Sans - Thin';
    src: local('ProductSans-Thin'), url('/static/fonts/ProductSans-Thin.ttf') format("truetype");
}

@font-face {
    font-family: 'Product Sans - ThinItalic';
    src: local('ProductSans-ThinItalic'), url('/static/fonts/ProductSans-ThinItalic.ttf') format("truetype");
}

/* ======================================================
Hurme Geometic Sans 3
====================================================== */

@font-face {
    font-family: 'Hurme Geometric Sans 3';
    src: local('HurmeGeometricSans3'), url('/static/fonts/HurmeGeometricSans3.ttf') format("truetype");
}

@font-face {
    font-family: 'Hurme Geometric Sans 3 - Bold';
    src: local('HurmeGeometricSans3-Bold'), url('/static/fonts/HurmeGeometricSans3-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Hurme Geometric Sans 3 - Light';
    src: local('HurmeGeometricSans3-Light'), url('/static/fonts/HurmeGeometricSans3-Light.ttf') format("truetype");
}

@font-face {
    font-family: 'Hurme Geometric Sans 3 - SemiBold';
    src: local('HurmeGeometricSans3-SemiBold'), url('/static/fonts/HurmeGeometricSans3-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Hurme Geometric Sans 3 - Thin';
    src: local('HurmeGeometricSans3-Thin'), url('/static/fonts/HurmeGeometricSans3-Thin.ttf') format("truetype");
}

/* ==========================================================================
BASE STYLES
========================================================================== */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    
    /*
        A large majority of the colour gradients used throughout the
        project were taken or based upon the following source:
        'https://cssgradient.io/gradient-backgrounds/' 
    */

    background: linear-gradient( to bottom,  rgba(9,32,63,1) 25%, rgba(83,120,149,1) 85% ) no-repeat center center fixed;
    background-size: cover;
}

/* ======================================================
Global styles
====================================================== */

.btn-green {
    background-color: #0ACF83;
    color: #FFFFFF;
    border-radius: 25px;
}

.login-btn-green {
    background: linear-gradient( to bottom,  rgba(10,207,131,1) 25%, rgba(33,239,187,1) 85% ) no-repeat center center fixed;
    background-size: cover;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 41px;
    border-radius: 25px;
}

/* =======================
Google button styles
====================== */

.btn-google {
    background-color: #4285F4;
    color: #FFFFFF;
    border-radius: 25px;
}

.google-btn {
    position: relative;
    width: 90%;
    padding: 25px 15px 25px 0;
    background-color: #4285F4;
    color: #FFFFFF;
    border-radius: 25px;
    line-height: 0px;
}

.google-btn .icon-outer {
    position: absolute;
    top: 0;
}

.google-btn .icon {
    background: #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.google-btn img {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 0;
}

.google-btn span {
    margin-left: 30px;
}

/* ======================================================
Navbar
====================================================== */

nav {
    color: #FFFFFF;
    background-color: rgba(24, 24, 24, 0);
    box-shadow: none;
}

.navbar-login {
    width: 125px;
    height: 38px;
    background-color: #F3F3F4;
    color: #1F1F1F;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 35px;
    border: 1px solid #3D3D3D;
    border-radius: 72px;    
}

.navbar-signup {
    width: 125px;
    height: 38px;
    background: linear-gradient( to bottom,  rgba(108,92,231,1) 25%, rgba(167,112,239,1) 85% ) no-repeat center center fixed;
    background-size: cover;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 40px;
    border-radius: 72px;
}

.nav-wrapper .sidenav-trigger {
    padding: 0 10px;
}

.nav-wrapper i {
    font-size: 32px !important;
    color: #03FFFF;
}

.sidenav {
    background: linear-gradient( to bottom,  rgba(103,19,210,1) 25%, rgba(204,32,142,1) 85% ) no-repeat center center fixed;
    background-size: cover;
    border: none;
}

.sidenav li,
#profile-sidenav li {
    padding: 15px 24px 15px 50px;
    border-bottom: 1px solid rgba(228, 228, 228, 20%);
}

.sidenav li:first-child,
.sidenav li:last-child,
#profile-sidenav li:first-child,
#profile-sidenav li:last-child {
    margin-top: 45px;
    border-bottom: none;
}

.sidenav li > a,
#profile-sidenav li > a {
    padding: 0 !important;
    font-weight: 300;
}

.sidenav a,
.sidenav i,
#profile-sidenav a,
#profile-sidenav i {
    color: #FFFFFF !important;
}

.sidenav i {
    margin: 0 !important;
}

.sidenav .collapsible-body {
    background: #0B1B2A;
}

.sidenav .collapsible-body li {
    margin-top: 0;
    padding-bottom: 0;
}

.sidenav .collapsible-body li a {
    color: #7b7b7b !important;
    font-weight: 400;
}

.sidenav .search {
    font-size: 28px;
}

.sidenav-overlay {
    z-index: 1;
}

/* ======================================================
Profile sidenav styles
====================================================== */

#profile-sidenav {
    width: 74px !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    background-color: #04090F;
    z-index: 1000;
    opacity: 0;
    transform: translateX(-105%)
}

#profile-sidenav .inner-container,
#slide-out .inner-container {
    position: relative;
}

#profile-sidenav ul,
#slide-out ul {
    position: absolute;
}


#profile-sidenav li {
    height: 56px;
    margin-top: 15px;
}

#slide-out li {
    padding: 30px 24px 30px 50px;
}

#profile-sidenav li:first-child,
#slide-out li:first-child {
    margin-top: 10px;
    margin-bottom: 0;
}

#slide-out li:first-child {
    text-align: center;
}

#profile-sidenav li:nth-child(2),
#slide-out li:nth-child(2) {
    margin-top: 40px;
}

#profile-sidenav li:last-child,
#slide-out li:last-child {
    margin-top: 80px;
}

#profile-sidenav a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#profile-sidenav i {
    padding-top: 15px;
    padding-bottom: 20px;
}

#slide-out i {
    font-size: 22px !important;
    margin-right: 25px !important;
}

#sidenav-profile-img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    object-fit: cover;
}

#desktop-sidenav-profile-img {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    object-fit: cover;
}


#desktop-profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

/* ======================================================
Homepage for non-authenticated users
====================================================== */

/* ============================
Animation for carousel
=========================== */

/* Based upon the following source:
'https://www.w3docs.com/snippets/css/how-to-create-animation-on-page-load.html' */

@keyframes slideInTop {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(-0.5%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-in {
    animation: 1s ease-in 1s 1 slideInTop;
}

.fade-in {
    animation: fadeIn ease-in 1;
    animation-duration: 1s;
}

/* ============================
Carousel for desktop
=========================== */

#homeCarousel {
    width: 100%;
    height: 95%;
    height: 95vh;
}

#homeCarousel .carousel-item {
    transform: translateX(0px) translateX(0px) translateX(0px) !important;
}

#homeCarousel .carousel-content,
#homeCarousel .home-carousel-imgs {
    transition: opacity 1s ease-in-out;
}

#homeCarousel .carousel-content,
#homeCarousel ul.indicators {
    opacity: 0;
}

#homeCarousel p {
    width: 40%;
    margin: 35px auto;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 32px;
}

#four h5 {
    width: 30%;
    margin: 35px auto;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 42px;
}

#four .btn {
    width: 125px;
    font-size: 18px;
    font-weight: 500;
}   

.carousel .indicators .indicator-item {
    background-color: #041429;
    border: 1px solid #041429;
}

.carousel .indicators .indicator-item.active {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #03FFFF;
}

/* ============================
Apply carousel images for
the first panel
=========================== */

#homeCarousel-imgs-panel1 .img-row-1 .column-1 .home-carousel-img {
    content: url('/media/img16.jpg');
}
#homeCarousel-imgs-panel1 .img-row-1 .column-2 .home-carousel-img {
    content: url('/media/img25.jpg');
}
#homeCarousel-imgs-panel1 .img-row-1 .column-3 .home-carousel-img {
    content: url('/media/img5.jpg');
}
#homeCarousel-imgs-panel1 .img-row-1 .column-4 .home-carousel-img {
    content: url('/media/img4.jpg');
}
#homeCarousel-imgs-panel1 .img-row-1 .column-5 .home-carousel-img {
    content: url('/media/img24.jpg');
}

#homeCarousel-imgs-panel1 .img-row-2 .column-1 .home-carousel-img {
    content: url('/media/img19.jpg');
}
#homeCarousel-imgs-panel1 .img-row-2 .column-2 .home-carousel-img {
    content: url('/media/img2.jpg');
}
#homeCarousel-imgs-panel1 .img-row-2 .column-3 .home-carousel-img {
    content: url('/media/img12.jpg');
}
#homeCarousel-imgs-panel1 .img-row-2 .column-4 .home-carousel-img {
    content: url('/media/img47.jpg');
}
#homeCarousel-imgs-panel1 .img-row-2 .column-5 .home-carousel-img {
    content: url('/media/img30.jpg');
}

#homeCarousel-imgs-panel1 .img-row-3 .column-1 .home-carousel-img {
    content: url('/media/img9.jpg');
}
#homeCarousel-imgs-panel1 .img-row-3 .column-2 .home-carousel-img {
    content: url('/media/img38.jpg');
}
#homeCarousel-imgs-panel1 .img-row-3 .column-3 .home-carousel-img {
    content: url('/media/img32.jpg');
}
#homeCarousel-imgs-panel1 .img-row-3 .column-4 .home-carousel-img {
    content: url('/media/img10.jpg');
}
#homeCarousel-imgs-panel1 .img-row-3 .column-5 .home-carousel-img {
    content: url('/media/img23.jpg');
}

/* ============================
Apply carousel images for
the second panel
=========================== */

#homeCarousel-imgs-panel2 .img-row-1 .column-1 .home-carousel-img {
    content: url('/media/img21.jpg');
}
#homeCarousel-imgs-panel2 .img-row-1 .column-2 .home-carousel-img {
    content: url('/media/img48.jpg');
}
#homeCarousel-imgs-panel2 .img-row-1 .column-3 .home-carousel-img {
    content: url('/media/img8.jpg');
}
#homeCarousel-imgs-panel2 .img-row-1 .column-4 .home-carousel-img {
    content: url('/media/img13.jpg');
}
#homeCarousel-imgs-panel2 .img-row-1 .column-5 .home-carousel-img {
    content: url('/media/img11.jpg');
}

#homeCarousel-imgs-panel2 .img-row-2 .column-1 .home-carousel-img {
    content: url('/media/img22.jpg');
}
#homeCarousel-imgs-panel2 .img-row-2 .column-2 .home-carousel-img {
    content: url('/media/img18.jpg');
}
#homeCarousel-imgs-panel2 .img-row-2 .column-3 .home-carousel-img {
    content: url('/media/img7.jpg');
}
#homeCarousel-imgs-panel2 .img-row-2 .column-4 .home-carousel-img {
    content: url('/media/img18.jpg');
}
#homeCarousel-imgs-panel2 .img-row-2 .column-5 .home-carousel-img {
    content: url('/media/img29.jpg');
}

#homeCarousel-imgs-panel2 .img-row-3 .column-1 .home-carousel-img {
    content: url('/media/img15.jpg');
}
#homeCarousel-imgs-panel2 .img-row-3 .column-2 .home-carousel-img {
    content: url('/media/img6.jpg');
}
#homeCarousel-imgs-panel2 .img-row-3 .column-3 .home-carousel-img {
    content: url('/media/img3.jpg');
}
#homeCarousel-imgs-panel2 .img-row-3 .column-4 .home-carousel-img {
    content: url('/media/img20.jpg');
}
#homeCarousel-imgs-panel2 .img-row-3 .column-5 .home-carousel-img {
    content: url('/media/img27.jpg');
}

/* ============================
Apply carousel images for
the third panel
=========================== */

#homeCarousel-imgs-panel3 .img-row-1 .column-1 .home-carousel-img {
    content: url('/media/img24.jpg');
}
#homeCarousel-imgs-panel3 .img-row-1 .column-2 .home-carousel-img {
    content: url('/media/img2.jpg');
}
#homeCarousel-imgs-panel3 .img-row-1 .column-3 .home-carousel-img {
    content: url('/media/img10.jpg');
}
#homeCarousel-imgs-panel3 .img-row-1 .column-4 .home-carousel-img {
    content: url('/media/img16.jpg');
}
#homeCarousel-imgs-panel3 .img-row-1 .column-5 .home-carousel-img {
    content: url('/media/img30.jpg');
}

#homeCarousel-imgs-panel3 .img-row-2 .column-1 .home-carousel-img {
    content: url('/media/img19.jpg');
}
#homeCarousel-imgs-panel3 .img-row-2 .column-2 .home-carousel-img {
    content: url('/media/img23.jpg');
}
#homeCarousel-imgs-panel3 .img-row-2 .column-3 .home-carousel-img {
    content: url('/media/img25.jpg');
}
#homeCarousel-imgs-panel3 .img-row-2 .column-4 .home-carousel-img {
    content: url('/media/img4.jpg');
}
#homeCarousel-imgs-panel3 .img-row-2 .column-5 .home-carousel-img {
    content: url('/media/img9.jpg');
}

#homeCarousel-imgs-panel3 .img-row-3 .column-1 .home-carousel-img {
    content: url('/media/img47.jpg');
}
#homeCarousel-imgs-panel3 .img-row-3 .column-2 .home-carousel-img {
    content: url('/media/img12.jpg');
}
#homeCarousel-imgs-panel3 .img-row-3 .column-3 .home-carousel-img {
    content: url('/media/img5.jpg');
}
#homeCarousel-imgs-panel3 .img-row-3 .column-4 .home-carousel-img {
    content: url('/media/img38.jpg');
}
#homeCarousel-imgs-panel3 .img-row-3 .column-5 .home-carousel-img {
    content: url('/media/img32.jpg');
}

/* ============================
Apply carousel images for
the fourth panel
=========================== */

#homeCarousel-imgs-panel4 .img-row-1 .column-1 .home-carousel-img {
    content: url('/media/img2.jpg');
}
#homeCarousel-imgs-panel4 .img-row-1 .column-2 .home-carousel-img {
    content: url('/media/img30.jpg');
}
#homeCarousel-imgs-panel4 .img-row-1 .column-3 .home-carousel-img {
    content: url('/media/img47.jpg');
}
#homeCarousel-imgs-panel4 .img-row-1 .column-4 .home-carousel-img {
    content: url('/media/img12.jpg');
}
#homeCarousel-imgs-panel4 .img-row-1 .column-5 .home-carousel-img {
    content: url('/media/img32.jpg');
}

#homeCarousel-imgs-panel4 .img-row-2 .column-1 .home-carousel-img {
    content: url('/media/img16.jpg');
}
#homeCarousel-imgs-panel4 .img-row-2 .column-2 .home-carousel-img {
    content: url('/media/img32.jpg');
}
#homeCarousel-imgs-panel4 .img-row-2 .column-3 .home-carousel-img {
    content: url('/media/img4.jpg');
}
#homeCarousel-imgs-panel4 .img-row-2 .column-4 .home-carousel-img {
    content: url('/media/img19.jpg');
}
#homeCarousel-imgs-panel4 .img-row-2 .column-5 .home-carousel-img {
    content: url('/media/img25.jpg');
}

#homeCarousel-imgs-panel4 .img-row-3 .column-1 .home-carousel-img {
    content: url('/media/img10.jpg');
}
#homeCarousel-imgs-panel4 .img-row-3 .column-2 .home-carousel-img {
    content: url('/media/img24.jpg');
}
#homeCarousel-imgs-panel4 .img-row-3 .column-3 .home-carousel-img {
    content: url('/media/img23.jpg');
}
#homeCarousel-imgs-panel4 .img-row-3 .column-4 .home-carousel-img {
    content: url('/media/img9.jpg');
}
#homeCarousel-imgs-panel4 .img-row-3 .column-5 .home-carousel-img {
    content: url('/media/img5.jpg');
}

/* ============================
Carousel image styles
=========================== */

.home-carousel-imgs {
    position: relative;
    opacity: 0;
}

.home-carousel-imgs .home-carousel-img {
    content: url('/media/noimage.jpg');
    width: 235px;
    height: 270px;
    border-radius: 35px;
    object-fit: cover;
}

#homeCarousel .img-row-1 .column-2 .home-carousel-img,
#homeCarousel .img-row-2 .column-2 .home-carousel-img,
#homeCarousel .img-row-3 .column-2 .home-carousel-img {
    position: absolute;
    left: 26.8%;
}

#homeCarousel .img-row-1 .column-3 .home-carousel-img,
#homeCarousel .img-row-2 .column-3 .home-carousel-img,
#homeCarousel .img-row-3 .column-3 .home-carousel-img {
    position: absolute;
    left: 43.5%;
}

#homeCarousel .img-row-1 .column-4 .home-carousel-img,
#homeCarousel .img-row-2 .column-4 .home-carousel-img,
#homeCarousel .img-row-3 .column-4 .home-carousel-img {
    position: absolute;
    left: 60.1%;
}

/* ============================
Carousel - 2nd & 4th column
=========================== */

#homeCarousel .img-row-1 .column-2 .home-carousel-img,
#homeCarousel .img-row-1 .column-4 .home-carousel-img {
    top: 10%;
}

#homeCarousel .img-row-2 .column-2 .home-carousel-img,
#homeCarousel .img-row-2 .column-4 .home-carousel-img {
    top: 45%;
}

#homeCarousel .img-row-3 .column-2 .home-carousel-img,
#homeCarousel .img-row-3 .column-4 .home-carousel-img {
    top: 80%;
}

/* ============================
Carousel - 3rd column
=========================== */

#homeCarousel .img-row-1 .column-3 .home-carousel-img {
    top: 20%;
}

#homeCarousel .img-row-2 .column-3 .home-carousel-img {
    top: 55%;
}

#homeCarousel .img-row-3 .column-3 .home-carousel-img {
    top: 55%;
}

#homeCarousel .img-row-3 .column-3 .home-carousel-img {
    top: 90%;
}

/* ============================
Homepage sign up prompt
=========================== */

#home {
    width: 100%;
    margin: 0 auto;
}

.home-title {
    margin-top: 60px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 48px;
}

.home-title span {
    font-size: 46px;
    font-weight: bold;
    letter-spacing: 3px;
}

.home-login-prompt .btn-large {
    margin: 15px auto;
}

.home-login-prompt .col.s12:first-child {
    margin-top: 70px;
}

.homepage-btn {
    width: 90% !important;
    font-weight: 500;
    letter-spacing: 1px;
}

.login-text {
    margin-top: 65px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.login-text a {
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 1px;
}

/* ============================
Homepage background images
=========================== */

#home-img-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 23%;
    top: 21vh;
    left: 0%;
    margin: 0 auto;
    object-fit: cover;
    z-index: -5;
}

.home-mobile-img-bg {
    width: 100%;
    position: absolute;
    top: 23%;
    top: 23vh;
    margin: 0 auto;
    z-index: -5;
}

.home-mobile-img-bg .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient( to bottom,  rgba(9,32,63,50%) 25%, rgba(83,120,149,50%) 85% ) no-repeat center center fixed;
    background-size: cover;
    z-index: 1;
}

.home-img-mobile {
    width: 105px;
    height: 145px;
    border-radius: 35px;
    object-fit: cover;
}

.home-mobile-img-bg .row {
    position: relative;
}

.middle-img {
    margin-top: 25px !important;
}

/* ============================
Homepage container 1
=========================== */

.home-content-container-1 {
    width: 100%;
    margin-top: 30%;
    margin-top: 14vh;
    background: linear-gradient(180.3deg, rgba(209,0,116,1) 37.2%, rgba(110,44,107,1) 137.3%) no-repeat center center fixed;
    background-size: cover;
    border-radius: 50px;
}

.home-content-container-2 {
    width: 100%;
    margin-top: 30%;
    margin-top: 14vh;
    background: linear-gradient(180.3deg, rgba(103,19,210,1) 37.2%, rgba(204,32,142,1) 137.3%) no-repeat center center fixed;
    background-size: cover;
    border-radius: 50px;
}

.home-content-container-1 .scroll-down-prompt {
    margin: 60px auto;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-content-container-1 .scroll-down-prompt i {
    vertical-align: top;
    font-size: 22px;
}

.home-content-container-1 h5,
.home-content-container-2 h5 {
    margin-top: 85px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 32px;
}

.home-content-container-1 p,
.home-content-container-2 p {
    margin-top: 25px;
    padding: 25px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-cluster {
    position: relative;
    width: 338px;
    height: 370px;
    margin: 50px 0;
}

.img-cluster img {
    border-radius: 35px;
    object-fit: cover;
    position: absolute;
}

#imgCluster {
    width: 328px;
    height: 350px;
}

.img-cluster-row {
    position: relative;
}

#container1-img-1 {
    width: 170px;
    height: 255px;
    position: absolute;
    top: 0;
    left: 38%;
    margin-left: -38px;
    object-fit: cover;
    border-radius: 35px;
}

#container1-img-2,
#container1-img-3 {
    width: 112px;
    height: 140px;
}

#container1-img-2 {
    top: -10%;
    right: -3.5%;
}

#container1-img-3 {
    top: 10%;
    left: 5%;
}

#container1-img-4 {
    width: 128px;
    height: 100px;
    top: 32%;
    right: -7.5%;
}

/* ============================
Homepage container 2
=========================== */

.home-content-container-2 img {
    border-radius: 35px;
    object-fit: cover;
}

.home-content-container-2 .row:nth-child(3) {
    margin: 0 !important;
}

#container1-img-5 {
    width: 170px;
    height: 118px;
    top: 52%;
    right: 3.5%;
}

#container2-img-1 {
    width: 260px;
    height: 255px;
    margin: 55px auto 35px;
}

#container2-img-2 {
    width: 335px;
    height: 255px;
    margin: 5px auto 15px;
    object-fit: contain;
}

#container2-img-3 {
    width: 255px;
    height: 255px;
    margin: 25px auto 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* ============================
Homepage container 3
=========================== */

.home-content-container-3 h4 {
    margin: 160px auto 80px;
}

.home-content-container-3 .login-text {
    margin-bottom: 85px;
}

/* ======================================================
Homepage for non-authenticated users
====================================================== */

#home-AuthenticatedUserCreator,
#home-AuthenticatedUserRecruiter {
    font-family: 'Product Sans - Bold', sans-serif;
}

#home-AuthenticatedUserCreator .title,
#home-AuthenticatedUserRecruiter .title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 25px;
}

#home-AuthenticatedUserCreator p,
#home-AuthenticatedUserRecruiter p {
    font-family: 'Product Sans - Light', sans-serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 25px;
}

.home-img-links {
    position: relative;
    height: 600px; /* To create space at the bottom */
}

#home-AuthenticatedUserCreator .img-title,
#home-AuthenticatedUserRecruiter .img-title {
    width: 40%;
    font-family: 'Product Sans - Medium', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    z-index: 10;
}

.contrast-card {
    background: linear-gradient(180.3deg, rgba(103,19,210,1) 25%, rgba(204,32,142,1) 60%) no-repeat center center fixed;
    background-size: cover;
}

#porfolio-img .img-card {
    content: url('/media/img17.jpg');
    width: 160px;
    height: 345px;
    position: absolute;
    top: 15px;
    left: 10px;
    border-radius: 15px;
    object-fit: cover;
    z-index: 5;
}

#porfolio-img .contrast-card {
    width: 140px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: 25px;
}

#porfolio-img .img-title {
    position: absolute;
    top: 275px;
    left: 45px;
}

#network-img .img-card {
    content: url('/media/img1.jpg');
    width: 135px;
    height: 310px;
    position: absolute;
    top: 70px;
    right: 10px;
    border-radius: 15px;
    object-fit: cover;
    z-index: 5;
}

#network-img .contrast-card {
    width: 110px;
    height: 265px;
    position: absolute;
    top: 55px;
    right: 0;
    border-top-left-radius: 25px;
}

#network-img .img-title {
    width: 30%;
    position: absolute;
    top: 68px;
    right: 20px;
    text-align: right;
}

#tips-img .img-card {
    content: url('/media/img14.jpg');
    width: 332px;
    height: 155px;
    position: absolute;
    top: 410px;
    left: 10px;
    border-radius: 15px;
    object-fit: cover;
}

#tips-img .contrast-card {
    width: 280px;
    height: 135px;
    position: absolute;
    top: 395px;
    left: 0;
}

#tips-img .img-title {
    width: 30%;
    position: absolute;
    top: 455px;
    left: 10px;
}

.bg-img-cluster {
    content: url('/media/home-bg-img-1.png');
    width: 110%;
    min-height: 600px;
    height: 80%;
    position: absolute;
    top: -50px;
    left: -5%;
    z-index: -5;
}

#home-AuthenticatedUserRecruiter .overlay {
    width: 110%;
    min-height: 600px;
    height: 80%;
    position: absolute;
    top: -50px;
    left: -5%;
    background: linear-gradient( to bottom,  rgba(9,32,63,50%) 25%, rgba(83,120,149,50%) 85% ) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

#home-AuthenticatedUserRecruiter .images {
    position: relative;
}

#home-AuthenticatedUserRecruiter .img-container {
    content: url('/media/img26.jpg');
    width: 240px;
    height: 320px;
    object-fit: cover;
    border-radius: 25px;
    margin: 35px auto;
}

#home-AuthenticatedUserRecruiter .contrast-card {
    width: 200px;
    height: 275px;
    position: absolute;
    top: 65px;
    left: 30px;
    z-index: -1;
}

#home-AuthenticatedUserRecruiter .title1 {
    width: 20%;
    position: absolute;
    top: 0;
    right: 65px;
}

#home-AuthenticatedUserRecruiter .title2 {
    width: 20%;
    position: absolute;
    bottom: 5px;
    left: 65px;
}

/* ==========================================================================
MEDIA QUERIES FOR RESPONSIVE DESIGN
========================================================================== */

/* ======================================================
RESPONSIVE STYLES FOR LARGER SCREENS
====================================================== */

@media (max-width: 1440px) and (min-height: 900px) {
    /* Home carousel images
    =========================== */
    .home-carousel-imgs .home-carousel-img {
        content: url('/media/noimage.jpg');
        width: 200px;
        height: 235px;
        border-radius: 35px;
    }
}

@media (max-width: 1280px) {
    /* Home carousel images
    =========================== */
    .home-carousel-imgs .home-carousel-img {
        width: 180px;
        height: 225px;
    }
}

@media (max-height: 800px) {
    /* Home carousel images
    =========================== */
    #homeCarousel .home-title {
        margin-top: 10px;
    }
}

/* ======================================================
RESPONSIVE STYLES FOR MEDIUM SCREENS
====================================================== */

@media (max-width: 1024px) {
    /* Home carousel images
    =========================== */
    .home-carousel-imgs .home-carousel-img {
        content: url('/media/noimage.jpg');
        width: 150px;
        height: 225px;
        border-radius: 35px;
    }
    #homeCarousel p {
        font-size: 18px;
    }
}

/* ======================================================
RESPONSIVE STYLES FOR SMALLER SCREENS
====================================================== */
