<ul class="sidenav collapsible" id="mobile-sidenav--main">
    <li><a href="#!"><i class="material-icons search">search</i></a></li>
    <li><a href="#!">Home <i class="material-icons right">chevron_right</i></a></li>
    <li><a href="#!">About Us <i class="material-icons right">chevron_right</i></a></li>
    <li><a href="#!" class="toggle-overlay">Browse and Buy <i class="material-icons right">chevron_right</i></a></li>

    <li>
        <a href="#!" class="collapsible-header">Find Work <i class="material-icons right">keyboard_arrow_down</i></a>
        <ul class="collapsible-body">
            <li><a href="#!">Ways to Earn</a></li>
            <li><a href="#!">Job Listings</a></li>
        </ul>
    </li>
    <li>
        <a href="#!" class="collapsible-header">Find Creators <i class="material-icons right">keyboard_arrow_down</i></a>
        <ul class="collapsible-body">
            <li><a href="#!">Post a Job and Hire</a></li>
            <li><a href="#!">Find a Creator</a></li>
        </ul>
    </li>

    <li><a href="#!">Contact <i class="material-icons right">chevron_right</i></a></li>
    <li><a href="#!" class="btn">Log In</a></li>
</ul>