<div id="profile-sidenav">
    <div class="inner-container">
        <ul>
            <li><a href="#!"><img src="{{ MEDIA_URL }}noimage.jpg" alt="" id="sidenav-profile-img"></a></li>
            <li><a href="#!"><i class="far fa-comment fa-lg"></i></a></li>
            <li><a href="#!"><i class="fas fa-shopping-cart fa-lg"></i></a></li>
            <li><a href="#!"><i class="far fa-heart fa-lg"></i></a></li>
            <li><a href="#!"><i class="far fa-bell fa-lg"></i></a></li>
            <li><a href="#!"><i class="fas fa-user-friends fa-lg"></i></a></li>
            <li><a href="#!"><i class="far fa-credit-card fa-lg"></i></a></li>
            <li><a href="#!"><i class="fas fa-cog fa-lg"></i></a></li>
            <li><a href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt fa-lg"></i></a></li>
        </ul>
    </div>
</div>