<aside id="servicesNav">
    <div class="outer-close toggle-overlay">
        <a class="close right"><span><i class="fas fa-times fa-2x"></i></span></a>
    </div>
    <form>
        <div class="input-field">
            <input type="search" class="browser-default" id="fullscreen-mobile-searchbar" placeholder="Search now" required>
            <label class="label-icon" for="search"><i class="fas fa-search fa-lg"></i></label>
            <i class="material-icons">close</i>
        </div>
    </form>
    <div class="container text-center center-align">
    <h5 class="left">Service Categories</h5>
    <div class="row">
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img20.jpg" alt="Cover image for category">
                <h6>Art & Illustration</h6>
            </div>
        </div>
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img14.jpg" alt="Cover image for category">
                <h6>Video & Photography</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img10.jpg" alt="Cover image for category">
                <h6>Audio & Music</h6>
            </div>
        </div>
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img12.jpg" alt="Cover image for category">
                <h6>Web & Mobile Design</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img48.jpg" alt="Cover image for category" id="software-dev-link">
                <h6>Software Development</h6>
            </div>
        </div>
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img43.jpg" alt="Cover image for category">
                <h6>Game Development</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img44.jpg" alt="Cover image for category">
                <h6>Testing</h6>
            </div>
        </div>
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img24.jpg" alt="Cover image for category" id="web-dev-link">
                <h6>Web Development</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img49.jpg" alt="Cover image for category">
                <h6>Editing & Proofreading</h6>
            </div>
        </div>
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img45.jpg" alt="Cover image for category" id="creative-writing-link">
                <h6>Creative Writing</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img47.jpg" alt="Cover image for category">
                <h6>Content & Copyright</h6>
            </div>
        </div>
        <div class="col s6">
            <div class="img-container">
                <div class="img-overlay"></div>
                <img src="{{ MEDIA_URL }}img46.jpg" alt="Cover image for category">
                <h6>Translation</h6>
            </div>
        </div>
    </div>
    <a href="#!" id="all-services">View all services</a>
    </div>
</aside>