{% extends "account/base_authenticate.html" %}
{% load materializecss %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<!-- Log in title -->
<h4 class="center title">{% trans "Welcome Back!" %}</h4>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>

    <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<!-- Continue with Google -->
<div class="row center">
    <div class="col s12">
        <a href="#!" class="btn google-btn">
            <div class="icon-outer">
                <div class="icon">
                    <img src="{{ MEDIA_URL }}icons/icons8-google.svg" alt="Google icon" class="center">
                </div>
            </div>
            <span>Log In with Google</span>
        </a>
    </div>
</div>

<div class="word-divider">
    <span class="div-line"></span><h6 class="word">or</h6><span class="div-line"></span>
</div>

<form class="login" method="POST" action="{% url 'account_login' %}">
    <!-- Form input fields -->
    {% csrf_token %}

    {% for field in form %}
        {% if field.name == 'password' %}
            {{ field | materializecss }}
            <!-- Forgot Password -->
            <div class="row center">
                <div class="col s12">
                    <a class="forgot-password" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
            </div>
        {% else %}
            {{ field | materializecss }}
        {% endif %}
    {% endfor %}
    
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    
    <!-- Login -->
    <div class="row center">
        <div class="col s12">
            <button class="primaryAction btn btn-large btn-purple-gradient" type="submit">{% trans "Log In" %}</button>
        </div>
    </div>
    <!-- Resgister -->
    <div class="row center">
        <div class="col s12">
            <p class="register-login-message">Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a></p>
        </div>
    </div>
</form>

{% endblock %}