{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <!-- Title -->
    <div class="row">
        <div class="col s12 m6">
            <h3>{% trans "Verify Your Email to Proceed" %}</h3>
        </div>
    </div>
    <!-- Text -->
    <div class="row">
        <div class="col s12 m6">
            <p>
                You don’t have access to many important site features!
            </p>
            <br>
            <p>
                Please check your email and click on the verification link we have provided to verify your account and get started!
            </p>
            <br>
            <p>
                If you have not received an email from us then please contact our support team.
                (Remember to check your spam folder first!)
            </p>
            <br>
        </div>
    </div>
    <!-- Contact -->
    <div class="row">
        <div class="col s12">
            <p class="register-login-message"><a href="#!">Contact Support</a></p>
        </div>
    </div>

{% endblock %}
